
.mat-elevation-z8 {
  width: calc(100% - 60px);
  margin: 50px 30px;
}

.add-report-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
}

.mat-form-field {
  width: calc(100vh - 60px);
  font-size: 14px;
  margin: 0 30px;
}

table.mat-table {
  width: 100%;
}

td, th {
  &:nth-child(1) {
    width: 5%;
  }

  &:nth-child(2) {
    width: 20%;
    min-width: 125px;
  }

  &:nth-child(4) {
    width: 10%;
    text-align: center;
  }

  &:nth-child(5) {
    width: 10%;
  }

  &:nth-last-child(1) {
    width: 10%;
    text-align: right;
    z-index: 3;

  }

  .action-menu-btn {
    background: transparent;
    margin-left: auto;
    border: none;
    cursor: pointer;
  }
}

td {
  cursor: pointer;
}

td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.6;
  min-height: 48px;
  padding: 5px 0;
  z-index: 1;
}
