@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent none;
  font-family: 'Lato', sans-serif;
  color: #5E6C84;
  border: none;
  font-weight: normal;
}

body {
  height: 100vh;
  font-size: 18px;
}

button {
  background: rgb(0, 82, 204);
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;

  &:disabled {
    background: rgb(194, 197, 204);
  }

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    outline: none;
  }
}

* {
  button, img, div {
  }
}
